.price-table {
  width: 1120px;
  height: 590px;
  margin: auto;
  text-align: center;
  margin-top: 45px;
  color: var(--text-white);
}
.price-heading1 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 32px;
  display: block;
}
.price-table p {
  font-size: 16px;
  line-height: 24px;
}
.list-prices {
  display: flex;
  float: left;
  color: black;
  justify-content: space-between;
  width: 100%;
}
.table {
  width: 326px;
  height: 456px;
  border-radius: 8px;
  background-color: white;
}
.price-month {
  width: 154px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price-des {
  margin: auto;
  width: 150px;
  height: 98px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.price-des p {
  font-size: 15px;
  line-height: 0px;
  letter-spacing: 0.2px;
  font-weight: 500;
}
.price-standard {
  background-color: var(--primary-color);
  color: var(--text-white);
}
.btn-ordernow {
  width: 139px;
  height: 44px;
  border-radius: 8px;
  background-color: var(--primary-color);
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--text-white);
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  border: none;
}
.btn-ordernow:hover {
  opacity: 0.8;
}
.btn-standard {
  color: var(--primary-color) !important;
  background-color: white !important;
}
.price {
  font-weight: 700;
  font-size: 76px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-right: 18px;
  color: var(--primary-color);
}
.color-white {
  color: var(--text-white) !important;
}
.price-month {
  margin-bottom: 20px;
}
.currency-unit {
  margin-left: -83px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}
.per-month h3 {
  font-weight: 300;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: var(--secondary-color);
  margin-left: -12px;
}
.total-price-standard h1 {
  font-weight: 700;
  font-size: 76px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-right: 10px;
}
.per-month-standard h3 {
  font-weight: 300;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: var(--secondary-color);
  margin-left: -12px;
}
