.footer {
    width: 1116px;
    height: 97px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .footer p {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  .icon {
    margin-right: 10px;
    width: 40.26px;
    height: 41.17px;
  }
  