.btn {
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--text-light);
}

.btn-secondary {
	background-color: var(--text-light);
	color: var(--primary-color);
}

.btn-tertiary {
	background-color: var(--bg-color);
	color: var(--text-light);
	border: 1px solid #bcd0e5;
}

.card-price {
	width: 322px;
	height: 456px;
	margin-top: 30px;
	border-radius: 8px;
}

.card-primary {
	background-color: white;
}

.card-secondary {
	background-color: var(--primary-color);
}
