@media (max-width: 720px) {
  footer {
    width: 361px;
    height: 159px;
    margin: auto;
    text-align: center;
    margin-top: 35px;
  }
  footer p {
    color: var(--text-white);
    font-size: 1.6rem;
    line-height: 30px;
    font-weight: 400;
  }
  .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 720px) and (max-width:1023px)
{
  footer {
    width: 361px;
    height: 159px;
    margin: auto;
    text-align: center;
  }
  footer p {
    color: var(--text-white);
    font-size: 1.6rem;
    line-height: 30px;
    font-weight: 400;
  }
  .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  .social-icon{
    margin-left: 50px;
  }
}