 
  .price-table {
    width: 322px;
    height: 1554px;
    margin: auto;
    text-align: center;
    margin-top: 45px;
    color: var(--text-white);
  }
  .heading-price {
    font-size: var(--size-32);
    line-height: 51px;
    font-weight: 700;
  }
  .price-table p {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    margin-top: 5px;
  }
  .price-heading1 {
    display: block;
    font-weight: 700;
    font-size: var(--size-24);
    line-height: 40px;
    margin-top: 30px;
  }
  .price-text1 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 40px;
    color: black;
  }
  .list-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  .table {
    width: 322px;
    height: 456px;
    border-radius: 8px;
    background-color: white;
    margin-top: 30px;
  }
  .price-month {
    width: 154px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .price-des {
    margin: auto;
    width: 134px;
    height: 98px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .price-des p {
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: black;
  }
  .price-standard {
    background-color: var(--primary-color);
  }
  .price-standard p,
  .price-standard .price-heading1 {
    color: var(--text-white) !important;
  }
  .btn-ordernow {
    width: 139px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-size: var(--size-18);
    line-height: 22px;
    font-weight: 600;
    color: var(--text-white);
    margin-top: 50px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border: none;
  }

  .btn-standard {
    color: var(--primary-color) !important;
    background-color: white !important;
  }
  .price {
    font-weight: 700;
    font-size: var(--size-76);
    letter-spacing: 0.2px;
    text-align: center;
    margin-right: 18px;
    color: var(--primary-color);
    line-height: 100px;
  }
  .color-white {
    color: var(--text-white) !important;
  }
  .price-month {
    margin-bottom: 20px;
  }
  .currency-unit {
    margin-left: -110px;
    font-size: var(--size-24);
    font-weight: 700;
    color: var(--primary-color);
  }
  .per-month h3 {
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 19px;
    color: var(--secondary-color);
    margin-left: -12px;
  }
  .price-table .price-title {
    font-weight: 700;
    font-size: var(--size-34);
    letter-spacing: 0.2px;
    text-align: center;
    margin-right: 10px;
  }
  .per-month-standard h3 {
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 19px;
    color: var(--secondary-color);
    margin-left: -12px;
  }

/* Tablet */
@media (min-width: 720px) and (max-width:1023px){
  .price-table {
    height: 1643px;
  }
}
/* PC */
@media (min-width:1024px){

  .price-table{
    width: 1120px;
    max-width: 100%;
    height: 589px;
  }
  .list-prices{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .btn-ordernow:hover {
    opacity: 0.8;
  }
}