/* Mobile */
main {
	background-color: var(--bg-color);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding-top: 10px;
}

.nav-text {
	color: var(--text-light);
	font-size: 1.875rem;
	position: relative;
	font-weight: 700;
	top: -7px;
	padding-left: 10px;
}

.nav-icon {
	position: relative;
	width: 28px;
	height: 31px;
	margin-right: -35px;
	top: -5px;
}

.nav-links {
	display: none;
}

/* Tablet */
@media (min-width: 720px) and (max-width: 1023px) {
	nav {
		justify-content: space-between;
	}

	.nav-logo {
		margin-left: 35px;
	}

	.nav-icon {
		margin-right: 35px;
	}

	.nav-links {
		display: none;
	}
}
/* Desktop */
@media (min-width: 1024px) {
	nav {
		max-width: 87.5rem;
		justify-content: space-evenly;
		margin: auto;
		padding-top: 30px;
		margin-bottom: 30px;
	}

	.link-activite {
		font-weight: 600;
		line-height: 28px;
		color: var(--text-light);
	}

	.nav-links {
		list-style: none;
		display: flex;
		align-items: center;
	}

	.link a {
		display: inline-block;
		color: var(--text-light);
		margin-left: 40px;
		font-weight: 500;
	}

	.link a:hover,
	.link-activite:hover {
		opacity: 0.7;
	}

	.btn-sign-in {
		background-color: var(--bg-color);
		padding: 0.9rem 2rem;
		font-size: 1rem;
		font-weight: 600;
		margin-left: 48px;
		color: var(--text-light);
		border: 1px solid #bcd0e5;
	}

	.btn:hover {
		opacity: 0.8;
	}

	.btn-sign-up {
		background-color: var(--primary-color);
		font-weight: 600;
		margin-left: 48px;
		font-size: 1rem;
		padding: 0.9rem 2rem;
	}

	.nav-icon {
		display: none;
	}
}
