:root {
    --primary-color:#02897a;
    --secondary-color:#afafaf;
    --bg-color : #22343D;
    --text-white: #fff;
    --size-15:15px;
    --size-18: 18px;
    --size-30:30px;
    --size-40:40px;
    --size-32:32px;
    --size-22:22px;
    --size-34:34px;
    --size-24:24px;
    --size-76:76px;
}
