:root {
    --primary-color:#02897a;
    --secondary-color:#afafaf;
    --bg-color : #22343D;
    --text-white: #fff;
    --size-15:1.5rem;
    --size-18: 1.8rem;
    --size-30:3rem;
    --size-40:4rem;
    --size-32:3.2rem;
    --size-22:2.2rem;
    --size-34:3.4rem;
    --size-24:2.4rem;
    --size-76:7.6rem;
}